<section class="hero">
  <h1>Diseña tus Aplicaciones <br />con los Mejores</h1>
  <button>Contacto</button>
</section>
<section class="globant">
  <div class="item left">
    <h2>Hello world</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident quis
      rerum suscipit nobis sint nemo hic eius est laudantium, ex sapiente
      temporibus neque. Excepturi dolorem ratione molestias aut? Tempore, iure!
    </p>
    <button>!Click Me!</button>
  </div>

  <div class="item right"></div>
</section>
