<footer>
  <div class="container_footer">
    <div class="Box_footer">
      <div class="logo_footer"></div>
      <div class="terms">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
          culpa qui officia deserunt mollit anim id est laborum.
        </p>
      </div>
    </div>
    <div class="Box_footer">
      <h2>Trabajos</h2>
      <a href="">App desarollo</a>
      <a href="">APP marketing</a>
      <a href="">IOS desarrollo</a>
      <a href="">Android</a>
    </div>
    <div class="Box_footer">
      <h2>Soluciones</h2>
      <a href="Acerca de.html">Acerca de</a>
      <a href="">Trabajos</a>
      <a href="">Procesos</a>
      <a href="">Servicios</a>
    </div>
    <div class="Box_footer">
      <h2>Redes Sociales</h2>
      <a href=""><i class="fa-brands fa-facebook"></i>Facebook</a>
      <a href=""><i class="fa-brands fa-twitter"></i>Twitter</a>
      <a href=""><i class="fa-brands fa-instagram"></i>Instagram</a>
      <a href=""><i class="fa-brands fa-linkedin"></i>Linkedin</a>
    </div>
  </div>
  <div class="box_copyright">
    <hr />
    <p>Todos los derechos reservados <b>Centro Tecnologico Android</b></p>
  </div>
</footer>
